# Copyright (c) 2010 Wind River Systems, Inc.
#
# The right to copy, distribute, modify, or otherwise make use
# of this software may be licensed only pursuant to the terms
# of an applicable Wind River license agreement.

LOCAL_PATH:= $(call my-dir)
prop_COPY_FILES := $(strip $(shell cd $(LOCAL_PATH); find */ -type f -o -type l))


define copy-link-to-target
#@mkdir -p $(dir $@)
$(warning copy file '$(1)' to '$(2)') 
$(shell cp -d $(1) $(2))
#$(hide) $(ACP) -dfpt $< $@
endef

$(shell cp $(LOCAL_PATH)/system/lib/egl/egl.cfg $(PRODUCT_OUT)/system/lib/egl)

$(foreach lf,$(prop_COPY_FILES), \
  $(shell mkdir -p $(PRODUCT_OUT)/$(shell dirname $(lf))) \
  $(eval _src := $(LOCAL_PATH)/$(lf)) \
  $(eval _dest := $(call append-path,$(PRODUCT_OUT),$(lf))) \
  $(eval $(call copy-link-to-target,$(_src),$(_dest))) \
  $(eval ALL_DEFAULT_INSTALLED_MODULES += $(_dest)) \
)
